<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>TodoApp</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div id="app" class="container">
    <h1>
<!--      完了したtodoを一気に削除するための機能。イベントも設定-->
      <button v-on:click="purge">Purge</button>
      My Todos
      <span class="info">({{remaining.length}}/{{todos.length}})</span>
    </h1>
    <ul>
<!--      配列をループさせて表示するための命令v-for-->
<!--      vから始まる特殊な属性をディレクティブと呼ぶ-->
      <li v-for="(todo, index) in todos">
<!--        todoにはそれぞれのオブジェクトが入っているため、todo.titleと指定-->
        <input type="checkbox" v-model="todo.isDone">
<!--        データに応じてクラスを付け替えるには、v-bind:classというディレクティブを使う。-->
<!--        todoのisDoneがtrueの場合は、doneクラスをつけるという記述-->
        <span v-bind:class="{done: todo.isDone}">{{todo.title}}</span>

        <span v-on:click="deleteItem(index)" class="command">[x]</span>
<!--        編集ボタンを押すと、editメソッドがよばれるようにしている。-->
        <span><button v-on:click="edit(index)">編集</button></span>
      </li>
<!--      todosのlengthがfalseの時(todosに何も入っていない時)、表示させる。-->
      <li v-show="!todos.length">
        Nothing to do
      </li>
    </ul>
<!--    todoの追加できるためのform-->

<!--    submitされた時のイベントを作成-->
<!--    v-onというディレクティブを使い、submitした時のメソッドaddItemを指定-->

<!--    formのなかにあった、v-on:click="addItem"は、下にあるv-on:click="setItems"でいける-->
<!--    編集と追加ともにできる。上でも書いてしまったら、二重に追加・編集されてしまう。-->
    <form>
<!--      todoにUIから追加できるようにするために、newItemというキーを作成-->

<!--      追加と編集の時で、v-modelを分けないと、うまく追加・編集共にできない。-->
      <input v-show="editIndex == -1" type="text" v-model="newItem">
      <input v-show="!(editIndex == -1)" type="text" v-model="newItem.title">
<!--      <input type="submit" value="add">-->
      <span><button v-on:click="setItems">{{ changeButtonText }}</button></span>
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="js/main.js"></script>
</body>
</html>
